/*
Theme Name: Vrijstaat Thialf
Description: A <a href='http://codex.wordpress.org/Child_Themes'>Child Theme</a> for the Enfold Wordpress Theme.
Version: 1.0
Author: Ronnie Stevens
Author URI: http://www.zoo.nl
Template: enfold
*/



/*Add your own styles here:*/

$color_grey: #707070;
$color_lightgreen : #e5fad5;
$color_blue: #0091dd;
$color_yellow: #fecc2d;
$color_darkblue: #285f7b;

.logo img {
    width: 370px;
    margin-top: 20px;
}
.small {
    max-width: 780px;
    float: none;
    margin: 0 auto;
    &.flex_column {
        float: none;
        margin: 0 auto;
    }
}
.inner-small .container {
    max-width: 780px;
}
.yellow {
    color: #fecc2d;
}
.greenbg {
    background-color: #516e2e;
}
.white {
    color: #ffffff;
}
.blue {
    color: #0091dd;
}
.pl0 {
    padding-left: 0;
}
#ptbig, .ptbig {
	padding-top: 400px;
}
.ptmed {
    padding-top: 220px;
}

div .av_one_half {
    margin-left: 3%;
    width: 48%;
} 
.av-main-nav > li > a {
    padding: 0;
    margin: 0 13px;
}

#top.page-id-7 .av_minimal_header #header_main, .av_minimal_header #header_meta,
#top.page-id-7 #header,
#top.single-event_listing #header,
#top.single-event_listing #header_main,
#top.single-post #header,
#top.single-post #header_main,
#top.event_organizer-template-default #header_main {
    background-color: white;
}
#top.page-id-7 #header .av-main-nav > li > a .avia-menu-text {
    color: #707070;
}
#top.single-event_listing #header .av-main-nav > li > a .avia-menu-text,
#top.page-id-7 #header .av-main-nav > li.current_page_item > a .avia-menu-text,
#top.single-event_listing #header .av-main-nav > li.current_page_item > a .avia-menu-text,
#top.single-event_listing h1,
#top.single-post #header .av-main-nav > li > a .avia-menu-text,
#top.single-post h1,
#top.event_organizer-template-default h1,
#top.event_organizer-template-default #header .av-main-nav > li > a .avia-menu-text

{
    color: #0091dd;    
    text-shadow: none;

}

#top #header .av-main-nav > li.current-menu-item > a .avia-menu-text {
    color: $color_yellow;
}

#top #header .av-main-nav > li > a:hover .avia-menu-text,
#top.page-id-7 #header .av-main-nav > li > a:hover .avia-menu-text
 {
    color: #fecc2d;
    border-bottom: solid 1px #fecc2d;
    opacity: 1;
}
body.page-id-7 .wpem-heading-text {
    display: none;
}
.avia-menu.av_menu_icon_beside {
    margin-right: 0;
    padding-right: 0;
}
.wpem-single-organizer-profile-wrapper .wpem-organizer-profile .wpem-organizer-description, 
.wpem-single-venue-profile-wrapper .wpem-venue-profile .wpem-venue-description {
    font-size: 21px;
    line-height: 35px;
    font-weight: 400;
}
#top.page-id-7,
#top.single-event_listing,
#top.single-post,
#top.event_organizer-template-default {
    .header_color {
        .av-hamburger-inner,
        .av-hamburger-inner::before,
        .av-hamburger-inner::after {
            background-color: $color_blue;
        }
        .main_menu ul:first-child > li > a {
            text-shadow: none;
        }
        .social_bookmarks a {
            color: $color_blue;
        }
    }
    .logo {
        a {
            img {
                display: none;
            }
        }
        display: block;
        width: 370px;
        background-image:url('/wp-content/themes/thialf/assets/logo-blauw.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: 20px;
    }
    
}
.wpem-event-organizer-tabs {
    .wpem-tab-link,
    .wpem-tab-pane {
        font-size: 16px;
    }
}

#top {
    label {
        font-family: 'PT Sans', sans-serif;
    }
    .av_header_transparency {
        #header_main {
            height: 75px;
            border-bottom: solid 1px white;
        }
        .social_bookmarks {
            li {   
                a {
                    color: #ffffff;
                }
            }
        }
        .av-main-nav > li > a .avia-menu-text, 
        .av-main-nav > li > a .avia-menu-subtext {
            color: #ffffff;
            text-shadow: 1px 1px 6px #000000;
        }

         .avia-menu.av_menu_icon_beside {
            border-color: rgba(255, 255, 255, 0);
         }
        .social_bookmarks li a {
                border-color: rgba(255,255,255,0.25);
                color: #fff;
        }
    }           
    .hr-invisible {
        background-image: url('/wp-content/themes/thialf/assets/yellow_dash.svg');
        background-repeat: repeat-x;
        max-width: 780px;
        margin: 40px auto;
    } 
    #header {
        .av-main-nav > li > a {
            height: 75px;
        }
    }
    .social_bookmarks {
        li {
        margin: 0 3px;
            a {
                font-size: 17px;
            }    
       }
    }
    .header_color  {
        .social_bookmarks a {
            color: #ffffff;
        }
    }
    h1 a {
        font-weight: 300;
    }
    
}

/* submenu */
.header_color {
    ul, li {
        border-color: transparent;
    }
    .main_menu {   
        ul {
            ul {
                background-color: transparent;
                li {
                    background-color: transparent;
                    a {
                        background-color: transparent;
                    }
                }
            
            }
    }
    }
}
.av-main-nav ul li a,
.av-main-nav ul li:last-child > a {
    border: 0 none;
}
#top .av-main-nav ul a {
    font-size: 16px;
}
.header_color .main_menu .menu ul li a {
    background-color: rgba(75, 73, 73, 0.7);
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
}
#top #header.av_minimal_header .main_menu ul:first-child >li > ul, 
#top #header.av_minimal_header .main_menu .avia_mega_div > .sub-menu {
    border-width: 0;
}
.header_color .sub_menu>ul>li>a, 
.header_color .sub_menu>div>ul>li>a, 
.header_color .main_menu ul:first-child > li > a, 
#top .header_color .main_menu .menu ul .current_page_item > a, 
#top .header_color .main_menu .menu ul .current-menu-item > a, 
#top .header_color .sub_menu li ul a {
    color: #ffffff;
    // text-shadow: 1px 1px 4px #000000;
}


.av_minimal_header .header_bg{
    opacity:0.6; filter:alpha(opacity=60);
}
.avia-menu.av_menu_icon_beside {
    border-right-width: 0;
}
 
/*homepage tegels */
.av-image-caption-overlay-center {
    font-family: 'Teko', sans-serif;
}
#top .fullsize .template-blog .post .entry-content-wrapper {
    text-align: left;
}
#top .fullsize .template-blog .post-meta-infos {
    display: none;
}

#top {
    #wrap_all {
        #uitgelicht {
            .big-preview {
                width: 48%;
                float: left;
                margin-right: 2%;
            }
            .entry-content-wrapper {
                width: 48%;
                float: left;
                margin-left: 1%;
                h2 {
                    font-family: 'PT Sans', sans-serif;
                    font-size: 20px;
                    display: inline-block;
                    margin-bottom: 0;
                }
                
                .entry-content p {
                    margin-top: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                    margin-bottom: 0;
                    font-size: 18px;
                    line-height: 1.5;
                }
            }
            .read-more-link {
                font-size: 18px;
                margin-top: 0;
                text-align: right;
            }
        }
    }
}


/* agenda */

#vandaag {
    margin-bottom: 0;
}
.search_events .wpem-row:first-child {
    display: none;
}
.wpem-event-listing-list-view {
    .wpem-event-box-col:first-child {
        .wpem-event-layout-wrapper {
            border-top: 0 solid #e4e4e4;
        }
    }
    .wpem-event-layout-wrapper {
        border: 0 none;
        .icon {
            display: block;
            width: 100px;
            height: 100%;
            background-color: #ffffff;
            display: flex;
            align-items: top;
            padding-top: 40px;
            background-repeat: no-repeat;
            background-size: 40px;
            img {
                width: 40px;
                height: 40px;
            }
        }
        .event_listing {
            padding: 0!important;
            margin-bottom: 20px!important;
            border-left: 0!important;
            background-color: $color_lightgreen;

            .wpem-event-infomation {
    
                .wpem-event-date {
                    display: none;
                    position: inherit;
                    padding: 1rem 0 0 1rem;
                    .wpem-event-date-type .wpem-from-date {
                        width: auto;
                        float: none;
                    
                        .wpem-month, .wpem-date {
                            display: inline;
                        }
                    }
                
                }
                .wpem-event-details {
                    padding-left: 1rem;
                    padding-bottom: 1rem;
                    .wpem-event-date-time {
                        padding-left: 0;
                        font-size: 16px;
                        line-height: 1.3;
                        color: $color_grey;
                        &::before {
                            content: none;
                        }
                    }
                    .wpem-event-title {
                        h5.wpem-heading-text {
                            text-transform: uppercase;
                            margin-top: 10px;
                            margin-left: 5px;
                            font-family: 'PT Sans', sans-serif;
                            font-size: 20px;
                            color: $color_grey;
                        }
                    }
                    .wpem-event-location {
                        display: none;
                    }
                    .wpem-event-shortdescription {
                        padding: 0.5rem;
                        font-size: 16px;
                    }
                }        
            }
        
            .wpem-event-banner {
                padding-right: 0;
                .wpem-event-banner-img {
                    border-radius: 0;
                    height: 130px;
                    width: 130px;
                }
            }
    
        }
    }        
}

.wpem-event-listings.wpem-event-listing-box-view {
    .wpem-event-layout-wrapper {
        .wpem-event-infomation {
            margin-top: 140px;
            .wpem-event-details {
                .wpem-event-title {
                    .wpem-heading-text {
                        color: $color_grey;
                        font-family: 'PT Sans';
                        font-size: 16px;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .wpem-event-banner{
            margin-top: -54px;

            .wpem-event-banner-img {
                height: 200px;
                .wpem-event-date {
                    display: none;
                }
    
            }
        }
        .icon {
            .iconwrapper {
                img {
                    width: 40px;
                    
                }
            }
        }
    }
    
    
}
.wpem-single-event-page .wpem-share-this-event .wpem-event-share-lists .wpem-social-icon.wpem-linkedin,
.wpem-single-event-page .wpem-share-this-event .wpem-event-share-lists .wpem-social-icon.wpem-xing,
.wpem-single-event-page .wpem-share-this-event .wpem-event-share-lists .wpem-social-icon.wpem-pinterest {
    display: none;
}

/* opening hours */
#openingstijden {
    font-size: 21px;
    font-weight: 400;
    .location-wrapper {
        color: #707070;
        line-height: 1.3;
        &:last-child {
            margin-bottom: 20px;
        }
        .location-name {
            text-transform: uppercase;
        }
        .location-openinghours {
            margin-left: 10px;
        }
    }
}
.mpb0 > p {
    margin-bottom: 0;
}
.mt0 {
    margin-top: 0;
}
#top .main_color select {
    font-family: 'PT Sans', sans-serif;
}
#top.post-template-default .fullsize .template-blog {

    .big-preview {
        padding: 0 0 10px 0;
        max-width: 48%;
        float: left;
    }
   
    .post {
        .entry-content-wrapper {
            max-width: 48%;
            float: right;
            &> * {
                margin-bottom: 0;
            }
            .entry-content-header {
                display: inline;
                h2 {
                    font-size: 18px;
                    text-align: left;
                    font-family: sans-serif;
                    a{
                        font-size: 20px;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
            .entry-content {
                margin: 0;
                p {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
            .post-meta-infos {
                display: inline;
                .text-sep, .comment-container, .blog-categories, .blog-author {
                    display: none;
                }
                time {
                    color: $color_blue;
                }
            }
            .entry-content {
                font-size: 18px;
                line-height: 1.3;
            }
        }
    }


}
#top #wrap_all .main_color h2 {
    font-size: 46px;
    padding: 0;
    text-transform: none;
}
.home-icon {
    p {
        margin: 0;
        font-weight: 600;
        line-height: 1;
    }
    svg {
        width: 22px;
    }
}

.pano .entry-content-wrapper {
    display: flex;
    align-items: center;
}

/* footer */
#naw {
    background-color: $color_darkblue;
    color: #ffffff;
    .container {
        padding-top: 20px;
        #logo_1_wit {
            padding-right: 10px;
            margin-left: -36px;
        }
        address {
            display: inline;
            margin-right: 10px;
            font-size: 16px;
        }
        .social_bookmarks {
            display: inline-flex;
            align-items: baseline;
            li {
                border: 0;
                height: inherit;
                width: 24px;
                a {
                    line-height: 44px;;
                    color: #ffffff;
                }
            }
        }
    }
}
#top #wrap_all #footer {
    border: 0 none;
    h2 {
        color: $color_yellow;
    }
    h3 {
        font-size: 18px;    
    }
    .widget {
        margin: 0;
        p {
            font-size: 16px;
            line-height: 1.5;
            margin: 0;
        }
    }
    .av_one_fourth {
        margin-left: 0;
        width: 24.8%;
    }
}

#sb_instagram.sbi_fixed_height {
    overflow: hidden;
}
.hidden {
    display: none;
    transition: visibility 0s, opacity 0.5s linear;
}

/* hamburger menu */
.html_av-overlay-side #top .av-burger-overlay-scroll {
    background: #ffffff;
   
}
#av-burger-menu-ul .avia-menu-text{
    text-shadow: none;        
}
/* event detail */
#top.event_listing-template-default {
    #wrap_all {
        .main_color {
            h3 {
                font-family: 'PT Sans', sans-serif;
                font-size: 16px;
            }
        }
        .wpem-single-event-body-sidebar {
            h3 {
                font-size: 24px;
            }
        }
        
    }
    .wpem-additional-info-block-wrapper {
        display: none;
    }

}
.bg_brown {
    background-image: url('/wp-content/themes/thialf/assets/bg_brown.png');
    background-repeat: repeat-x;
    background-size: contain;
}
.bg_green {
    background-image: url('/wp-content/themes/thialf/assets/bg_green.png');
    background-repeat: repeat-x;
    background-size: contain;
}
.bg_blue {
    background-image: url('/wp-content/themes/thialf/assets/bg_blue.png');
    background-repeat: repeat-x;
    background-size: auto;
}
.bg_lightblue {
    background-image: url('/wp-content/themes/thialf/assets/bg_lightblue.png');
    background-repeat: repeat-x;
    background-size: auto;
}

#top.single-event_listing #wrap_all .fullsize .template-blog .post-title,
#top.single-post #wrap_all .main_color h1{
    text-align: left;
    font-size: 45px;
    font-weight: 300;
    color: $color_blue;
}
.wpem-single-event-page .wpem-single-event-wrapper .wpem-single-event-body .wpem-single-event-left-content .wpem-single-event-short-info .wpem-event-title {
    display: none;
}
#top.event_listing-template-default #wrap_all .wpem-single-event-body-sidebar h3 {
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
}
.wpem-event-listings.wpem-event-listing-box-view .wpem-event-layout-wrapper .wpem-event-infomation .wpem-event-details .wpem-event-location {
    display: none;
}
/* team */

.avia-team-member {
	display: inline-block;
	width: 49%;
}
.team-img-container {
	margin: 10px;
    img {
        border-radius: 50%;
        max-width: 180px;
    }
}
.team-member-description {
    p {
        margin: 0;
        text-align: center;
        font-size: 20px;
    }
}
#leden {
	margin-left: 0;
    vertical-align: text-top;
    div, section { 
        vertical-align: text-top;
    }
}

#top #wrap_all .main_color h3.team-member-name {
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	margin-top: 10px;
	font-weight: 300;
    text-align: center;
}
.team-member-job-title {
	font-style: italic;
    font-size: 20px;
    text-align: center;
}

.page-id-342 .avia-caption-content button,
.page-id-562 .avia-caption-content button,
.page-id-552 .avia-caption-content button {
	background-color: #FFCB00;
	font-weight: 600;
	color: #7c7c7c;
	padding: 10px 30px;
	border: 0 none;
	border-radius: 30px;
	margin-top: 10px;
   
}
#top.page-id-342 .avia-caption-content button a,
#top.page-id-562 .avia-caption-content button a,
#top.page-id-552 .avia-caption-content button a{
    text-decoration: none;
}
.bottom-title {
	font-weight: 300;
	max-width: 780px;
	margin: 0 auto;

}

.av-social-sharing-box.av-social-sharing-box-fullwidth .av-share-box ul {
    width: 70px;
}

/* brasserie */
#brasserie_link {
    h2 {
        font-weight: 300;
    }
    .image-overlay {
        background: none;
        &.overlay-type-extern .image-overlay-inside:before {
            content: none;
        }
    }
    button {
        background-color: #fecc2d;
        font-size: 26px;
        font-weight: 600;
        color: #707070;
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 30px;
        border-color: transparent;
        margin-top: 1.5rem;
    }
}


 
/* insta */
#sb_instagram.sbi_fixed_height {
    overflow: inherit;
}


/* couranten */
#couranten {
    background-color: #466971;
    a {
        color: #ffffff;
        background-image: url('/wp-content/themes/thialf/assets/icon-PDF-wit.svg');
        background-repeat: no-repeat;
        padding-left: 30px;
    }
}

.html_av-overlay-side-classic #top #wrap_all .av-burger-overlay #av-burger-menu-ul li a {
    font-family: 'PT Sans', sans-serif;
}

#av-burger-menu-ul .avia-menu-text {
    text-transform: uppercase;
}
.html_av-overlay-side #top #wrap_all .av-burger-overlay li a {
    padding: 12px 50px;
}

/* buttons */ 
#top #wrap_all .call2action h2 {
	font-size: 50px!important;
}
#top #wrap_all .call2action button {
	font-size: 22px!important;
}
@media only screen and (max-width: 767px) {
	#top #wrap_all .call2action h2 {
    	font-size: 30px!important;
    }
#top #wrap_all .call2action button {
	font-size: 18px!important;
    }
}


/* slideshow */
.avia-slideshow-arrows {
    display: none;
}
@media only screen and (max-width: 989px) {
	.avia-team-member {
		width: 100%;
	}	
	.responsive #top #wrap_all .flex_column,
	#top #wrap_all #footer .av_one_fourth{
		width: 100%;
	}
	#naw .container #logo_1_wit {
		margin-left: 0;
	}
    ul.social_bookmarks {
        display: none;
    }
    .responsive .logo img {
        margin-top: 20px;
        width: 292px;
    }
    #top.page-id-7 .logo {
        background-size: contain;
        width: 292px;
    }
    #top.page-id-7 .header_color .av-hamburger-inner {
        background-color: $color_blue;
        &::before, &::after {
            background-color: $color_blue;
        }
    }
    .openinghours {
        main {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}


@media only screen and (max-width: 767px) {
    body {
        font-size: 19px;
    }
    .responsive #top #header .main_menu .social_bookmarks {
        display: none;
    }
    .header_color .av-hamburger-inner {
        background-color: #ffffff;
        &::before, &::after {
            background-color: #ffffff;
        }
    }
    #top.single-event_listing .logo, 
    #top.single-post .logo,
    #top.page-id-7 .logo,
    .responsive .logo img,
    #top.event_organizer-template-default .logo {
        margin-top: 0;
        max-width: 80%;
    }
    #top #wrap_all {
        .av_header_transparency {
            background-color: transparent;
            position: absolute!important;
        }
        .main_color {
            h1 {
                font-size: 48px;
            }
            h2 {
                font-size: 42px;
            }
        }
        #footer .av_one_fourth {
            width: 49.8%;
        }    
    }
    .wpem-event-listing-list-view {
        .wpem-event-layout-wrapper { 
            .event_listing .wpem-event-infomation .wpem-event-details .wpem-event-date-time {
                font-size: 16px;
                color: #555555;
            }
            .icon img {
                width: 30px;
                height: 30px;
            }
        }
        
    }
    
    .wpem-event-listings.wpem-event-listing-box-view {
        .wpem-event-layout-wrapper {
            .event_listing {
                background-color: #e5fad5;

                .icon {
                    display: none;
                }
                .wpem-event-banner {
                    margin-top: 0;
                     .wpem-event-banner-img {
                        height: 209px;
                     }
                }
                .wpem-event-infomation .wpem-event-details {
                    margin-top: 70px;
                }
    
            }
        }
    }
    #top #main .avia-section .template-page {
        padding-top: 0;
    }
    #naw .container address {
        font-size: 16px;
    }
    #naw .container #logo_1_wit {
        margin-left: 0;
    }
    #brasserie_link button {
        font-size: 24px;
    }
    #top.post-template-default .fullsize .template-blog .post .entry-content-wrapper,
    #top.post-template-default .fullsize .template-blog .big-preview {
        max-width: 100%;
    }
    #top select,
    .wpem-form-wrapper .wpem-form-group {
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 480px) {
    h1,
    #top #wrap_all .main_color h1  {
        font-size: 56px;
    }
    h2 {
        font-size: 37px;
    }
    #top #wrap_all #footer .av_one_fourth {
        width: 99.8%;
    }
    #top #wrap_all #uitgelicht .big-preview,
    #top #wrap_all #uitgelicht .entry-content-wrapper {
        width: 100%;

    }
    #brasserie_link button {
        font-size: 21px;
    }
    .bg_blue .content {
        padding-top: 0;
        padding-bottom: 0;
    }
}