/*
Theme Name: Vrijstaat Thialf
Description: A <a href='http://codex.wordpress.org/Child_Themes'>Child Theme</a> for the Enfold Wordpress Theme.
Version: 1.0
Author: Ronnie Stevens
Author URI: http://www.zoo.nl
Template: enfold
*/
/*Add your own styles here:*/
/* line 20, sass/style.scss */
.logo img {
  width: 370px;
  margin-top: 20px;
}

/* line 24, sass/style.scss */
.small {
  max-width: 780px;
  float: none;
  margin: 0 auto;
}
/* line 28, sass/style.scss */
.small.flex_column {
  float: none;
  margin: 0 auto;
}

/* line 33, sass/style.scss */
.inner-small .container {
  max-width: 780px;
}

/* line 36, sass/style.scss */
.yellow {
  color: #fecc2d;
}

/* line 39, sass/style.scss */
.greenbg {
  background-color: #516e2e;
}

/* line 42, sass/style.scss */
.white {
  color: #ffffff;
}

/* line 45, sass/style.scss */
.blue {
  color: #0091dd;
}

/* line 48, sass/style.scss */
.pl0 {
  padding-left: 0;
}

/* line 51, sass/style.scss */
#ptbig, .ptbig {
  padding-top: 400px;
}

/* line 54, sass/style.scss */
.ptmed {
  padding-top: 220px;
}

/* line 58, sass/style.scss */
div .av_one_half {
  margin-left: 3%;
  width: 48%;
}

/* line 62, sass/style.scss */
.av-main-nav > li > a {
  padding: 0;
  margin: 0 13px;
}

/* line 67, sass/style.scss */
#top.page-id-7 .av_minimal_header #header_main, .av_minimal_header #header_meta,
#top.page-id-7 #header,
#top.single-event_listing #header,
#top.single-event_listing #header_main,
#top.single-post #header,
#top.single-post #header_main,
#top.event_organizer-template-default #header_main {
  background-color: white;
}

/* line 76, sass/style.scss */
#top.page-id-7 #header .av-main-nav > li > a .avia-menu-text {
  color: #707070;
}

/* line 79, sass/style.scss */
#top.single-event_listing #header .av-main-nav > li > a .avia-menu-text,
#top.page-id-7 #header .av-main-nav > li.current_page_item > a .avia-menu-text,
#top.single-event_listing #header .av-main-nav > li.current_page_item > a .avia-menu-text,
#top.single-event_listing h1,
#top.single-post #header .av-main-nav > li > a .avia-menu-text,
#top.single-post h1,
#top.event_organizer-template-default h1,
#top.event_organizer-template-default #header .av-main-nav > li > a .avia-menu-text {
  color: #0091dd;
  text-shadow: none;
}

/* line 94, sass/style.scss */
#top #header .av-main-nav > li.current-menu-item > a .avia-menu-text {
  color: #fecc2d;
}

/* line 98, sass/style.scss */
#top #header .av-main-nav > li > a:hover .avia-menu-text,
#top.page-id-7 #header .av-main-nav > li > a:hover .avia-menu-text {
  color: #fecc2d;
  border-bottom: solid 1px #fecc2d;
  opacity: 1;
}

/* line 105, sass/style.scss */
body.page-id-7 .wpem-heading-text {
  display: none;
}

/* line 108, sass/style.scss */
.avia-menu.av_menu_icon_beside {
  margin-right: 0;
  padding-right: 0;
}

/* line 112, sass/style.scss */
.wpem-single-organizer-profile-wrapper .wpem-organizer-profile .wpem-organizer-description,
.wpem-single-venue-profile-wrapper .wpem-venue-profile .wpem-venue-description {
  font-size: 21px;
  line-height: 35px;
  font-weight: 400;
}

/* line 123, sass/style.scss */
#top.page-id-7 .header_color .av-hamburger-inner,
#top.page-id-7 .header_color .av-hamburger-inner::before,
#top.page-id-7 .header_color .av-hamburger-inner::after,
#top.single-event_listing .header_color .av-hamburger-inner,
#top.single-event_listing .header_color .av-hamburger-inner::before,
#top.single-event_listing .header_color .av-hamburger-inner::after,
#top.single-post .header_color .av-hamburger-inner,
#top.single-post .header_color .av-hamburger-inner::before,
#top.single-post .header_color .av-hamburger-inner::after,
#top.event_organizer-template-default .header_color .av-hamburger-inner,
#top.event_organizer-template-default .header_color .av-hamburger-inner::before,
#top.event_organizer-template-default .header_color .av-hamburger-inner::after {
  background-color: #0091dd;
}
/* line 128, sass/style.scss */
#top.page-id-7 .header_color .main_menu ul:first-child > li > a,
#top.single-event_listing .header_color .main_menu ul:first-child > li > a,
#top.single-post .header_color .main_menu ul:first-child > li > a,
#top.event_organizer-template-default .header_color .main_menu ul:first-child > li > a {
  text-shadow: none;
}
/* line 131, sass/style.scss */
#top.page-id-7 .header_color .social_bookmarks a,
#top.single-event_listing .header_color .social_bookmarks a,
#top.single-post .header_color .social_bookmarks a,
#top.event_organizer-template-default .header_color .social_bookmarks a {
  color: #0091dd;
}
/* line 135, sass/style.scss */
#top.page-id-7 .logo,
#top.single-event_listing .logo,
#top.single-post .logo,
#top.event_organizer-template-default .logo {
  display: block;
  width: 370px;
  background-image: url("/wp-content/themes/thialf/assets/logo-blauw.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 20px;
}
/* line 137, sass/style.scss */
#top.page-id-7 .logo a img,
#top.single-event_listing .logo a img,
#top.single-post .logo a img,
#top.event_organizer-template-default .logo a img {
  display: none;
}

/* line 151, sass/style.scss */
.wpem-event-organizer-tabs .wpem-tab-link,
.wpem-event-organizer-tabs .wpem-tab-pane {
  font-size: 16px;
}

/* line 158, sass/style.scss */
#top label {
  font-family: 'PT Sans', sans-serif;
}
/* line 162, sass/style.scss */
#top .av_header_transparency #header_main {
  height: 75px;
  border-bottom: solid 1px white;
}
/* line 168, sass/style.scss */
#top .av_header_transparency .social_bookmarks li a {
  color: #ffffff;
}
/* line 173, sass/style.scss */
#top .av_header_transparency .av-main-nav > li > a .avia-menu-text,
#top .av_header_transparency .av-main-nav > li > a .avia-menu-subtext {
  color: #ffffff;
  text-shadow: 1px 1px 6px #000000;
}
/* line 179, sass/style.scss */
#top .av_header_transparency .avia-menu.av_menu_icon_beside {
  border-color: rgba(255, 255, 255, 0);
}
/* line 182, sass/style.scss */
#top .av_header_transparency .social_bookmarks li a {
  border-color: rgba(255, 255, 255, 0.25);
  color: #fff;
}
/* line 187, sass/style.scss */
#top .hr-invisible {
  background-image: url("/wp-content/themes/thialf/assets/yellow_dash.svg");
  background-repeat: repeat-x;
  max-width: 780px;
  margin: 40px auto;
}
/* line 194, sass/style.scss */
#top #header .av-main-nav > li > a {
  height: 75px;
}
/* line 199, sass/style.scss */
#top .social_bookmarks li {
  margin: 0 3px;
}
/* line 201, sass/style.scss */
#top .social_bookmarks li a {
  font-size: 17px;
}
/* line 207, sass/style.scss */
#top .header_color .social_bookmarks a {
  color: #ffffff;
}
/* line 211, sass/style.scss */
#top h1 a {
  font-weight: 300;
}

/* submenu */
/* line 219, sass/style.scss */
.header_color ul, .header_color li {
  border-color: transparent;
}
/* line 224, sass/style.scss */
.header_color .main_menu ul ul {
  background-color: transparent;
}
/* line 226, sass/style.scss */
.header_color .main_menu ul ul li {
  background-color: transparent;
}
/* line 228, sass/style.scss */
.header_color .main_menu ul ul li a {
  background-color: transparent;
}

/* line 237, sass/style.scss */
.av-main-nav ul li a,
.av-main-nav ul li:last-child > a {
  border: 0 none;
}

/* line 241, sass/style.scss */
#top .av-main-nav ul a {
  font-size: 16px;
}

/* line 244, sass/style.scss */
.header_color .main_menu .menu ul li a {
  background-color: rgba(75, 73, 73, 0.7);
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
}

/* line 250, sass/style.scss */
#top #header.av_minimal_header .main_menu ul:first-child > li > ul,
#top #header.av_minimal_header .main_menu .avia_mega_div > .sub-menu {
  border-width: 0;
}

/* line 254, sass/style.scss */
.header_color .sub_menu > ul > li > a,
.header_color .sub_menu > div > ul > li > a,
.header_color .main_menu ul:first-child > li > a,
#top .header_color .main_menu .menu ul .current_page_item > a,
#top .header_color .main_menu .menu ul .current-menu-item > a,
#top .header_color .sub_menu li ul a {
  color: #ffffff;
}

/* line 265, sass/style.scss */
.av_minimal_header .header_bg {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

/* line 268, sass/style.scss */
.avia-menu.av_menu_icon_beside {
  border-right-width: 0;
}

/*homepage tegels */
/* line 273, sass/style.scss */
.av-image-caption-overlay-center {
  font-family: 'Teko', sans-serif;
}

/* line 276, sass/style.scss */
#top .fullsize .template-blog .post .entry-content-wrapper {
  text-align: left;
}

/* line 279, sass/style.scss */
#top .fullsize .template-blog .post-meta-infos {
  display: none;
}

/* line 286, sass/style.scss */
#top #wrap_all #uitgelicht .big-preview {
  width: 48%;
  float: left;
  margin-right: 2%;
}
/* line 291, sass/style.scss */
#top #wrap_all #uitgelicht .entry-content-wrapper {
  width: 48%;
  float: left;
  margin-left: 1%;
}
/* line 295, sass/style.scss */
#top #wrap_all #uitgelicht .entry-content-wrapper h2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 0;
}
/* line 302, sass/style.scss */
#top #wrap_all #uitgelicht .entry-content-wrapper .entry-content p {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.5;
}
/* line 311, sass/style.scss */
#top #wrap_all #uitgelicht .read-more-link {
  font-size: 18px;
  margin-top: 0;
  text-align: right;
}

/* agenda */
/* line 323, sass/style.scss */
#vandaag {
  margin-bottom: 0;
}

/* line 326, sass/style.scss */
.search_events .wpem-row:first-child {
  display: none;
}

/* line 331, sass/style.scss */
.wpem-event-listing-list-view .wpem-event-box-col:first-child .wpem-event-layout-wrapper {
  border-top: 0 solid #e4e4e4;
}
/* line 335, sass/style.scss */
.wpem-event-listing-list-view .wpem-event-layout-wrapper {
  border: 0 none;
}
/* line 337, sass/style.scss */
.wpem-event-listing-list-view .wpem-event-layout-wrapper .icon {
  display: block;
  width: 100px;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: top;
  padding-top: 40px;
  background-repeat: no-repeat;
  background-size: 40px;
}
/* line 347, sass/style.scss */
.wpem-event-listing-list-view .wpem-event-layout-wrapper .icon img {
  width: 40px;
  height: 40px;
}
/* line 352, sass/style.scss */
.wpem-event-listing-list-view .wpem-event-layout-wrapper .event_listing {
  padding: 0 !important;
  margin-bottom: 20px !important;
  border-left: 0 !important;
  background-color: #e5fad5;
}
/* line 360, sass/style.scss */
.wpem-event-listing-list-view .wpem-event-layout-wrapper .event_listing .wpem-event-infomation .wpem-event-date {
  display: none;
  position: inherit;
  padding: 1rem 0 0 1rem;
}
/* line 364, sass/style.scss */
.wpem-event-listing-list-view .wpem-event-layout-wrapper .event_listing .wpem-event-infomation .wpem-event-date .wpem-event-date-type .wpem-from-date {
  width: auto;
  float: none;
}
/* line 368, sass/style.scss */
.wpem-event-listing-list-view .wpem-event-layout-wrapper .event_listing .wpem-event-infomation .wpem-event-date .wpem-event-date-type .wpem-from-date .wpem-month, .wpem-event-listing-list-view .wpem-event-layout-wrapper .event_listing .wpem-event-infomation .wpem-event-date .wpem-event-date-type .wpem-from-date .wpem-date {
  display: inline;
}
/* line 374, sass/style.scss */
.wpem-event-listing-list-view .wpem-event-layout-wrapper .event_listing .wpem-event-infomation .wpem-event-details {
  padding-left: 1rem;
  padding-bottom: 1rem;
}
/* line 377, sass/style.scss */
.wpem-event-listing-list-view .wpem-event-layout-wrapper .event_listing .wpem-event-infomation .wpem-event-details .wpem-event-date-time {
  padding-left: 0;
  font-size: 16px;
  line-height: 1.3;
  color: #707070;
}
/* line 382, sass/style.scss */
.wpem-event-listing-list-view .wpem-event-layout-wrapper .event_listing .wpem-event-infomation .wpem-event-details .wpem-event-date-time::before {
  content: none;
}
/* line 387, sass/style.scss */
.wpem-event-listing-list-view .wpem-event-layout-wrapper .event_listing .wpem-event-infomation .wpem-event-details .wpem-event-title h5.wpem-heading-text {
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 5px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  color: #707070;
}
/* line 396, sass/style.scss */
.wpem-event-listing-list-view .wpem-event-layout-wrapper .event_listing .wpem-event-infomation .wpem-event-details .wpem-event-location {
  display: none;
}
/* line 399, sass/style.scss */
.wpem-event-listing-list-view .wpem-event-layout-wrapper .event_listing .wpem-event-infomation .wpem-event-details .wpem-event-shortdescription {
  padding: 0.5rem;
  font-size: 16px;
}
/* line 406, sass/style.scss */
.wpem-event-listing-list-view .wpem-event-layout-wrapper .event_listing .wpem-event-banner {
  padding-right: 0;
}
/* line 408, sass/style.scss */
.wpem-event-listing-list-view .wpem-event-layout-wrapper .event_listing .wpem-event-banner .wpem-event-banner-img {
  border-radius: 0;
  height: 130px;
  width: 130px;
}

/* line 421, sass/style.scss */
.wpem-event-listings.wpem-event-listing-box-view .wpem-event-layout-wrapper .wpem-event-infomation {
  margin-top: 140px;
}
/* line 425, sass/style.scss */
.wpem-event-listings.wpem-event-listing-box-view .wpem-event-layout-wrapper .wpem-event-infomation .wpem-event-details .wpem-event-title .wpem-heading-text {
  color: #707070;
  font-family: 'PT Sans';
  font-size: 16px;
  text-transform: uppercase;
}
/* line 434, sass/style.scss */
.wpem-event-listings.wpem-event-listing-box-view .wpem-event-layout-wrapper .wpem-event-banner {
  margin-top: -54px;
}
/* line 437, sass/style.scss */
.wpem-event-listings.wpem-event-listing-box-view .wpem-event-layout-wrapper .wpem-event-banner .wpem-event-banner-img {
  height: 200px;
}
/* line 439, sass/style.scss */
.wpem-event-listings.wpem-event-listing-box-view .wpem-event-layout-wrapper .wpem-event-banner .wpem-event-banner-img .wpem-event-date {
  display: none;
}
/* line 447, sass/style.scss */
.wpem-event-listings.wpem-event-listing-box-view .wpem-event-layout-wrapper .icon .iconwrapper img {
  width: 40px;
}

/* line 457, sass/style.scss */
.wpem-single-event-page .wpem-share-this-event .wpem-event-share-lists .wpem-social-icon.wpem-linkedin,
.wpem-single-event-page .wpem-share-this-event .wpem-event-share-lists .wpem-social-icon.wpem-xing,
.wpem-single-event-page .wpem-share-this-event .wpem-event-share-lists .wpem-social-icon.wpem-pinterest {
  display: none;
}

/* opening hours */
/* line 464, sass/style.scss */
#openingstijden {
  font-size: 21px;
  font-weight: 400;
}
/* line 467, sass/style.scss */
#openingstijden .location-wrapper {
  color: #707070;
  line-height: 1.3;
}
/* line 470, sass/style.scss */
#openingstijden .location-wrapper:last-child {
  margin-bottom: 20px;
}
/* line 473, sass/style.scss */
#openingstijden .location-wrapper .location-name {
  text-transform: uppercase;
}
/* line 476, sass/style.scss */
#openingstijden .location-wrapper .location-openinghours {
  margin-left: 10px;
}

/* line 481, sass/style.scss */
.mpb0 > p {
  margin-bottom: 0;
}

/* line 484, sass/style.scss */
.mt0 {
  margin-top: 0;
}

/* line 487, sass/style.scss */
#top .main_color select {
  font-family: 'PT Sans', sans-serif;
}

/* line 492, sass/style.scss */
#top.post-template-default .fullsize .template-blog .big-preview {
  padding: 0 0 10px 0;
  max-width: 48%;
  float: left;
}
/* line 499, sass/style.scss */
#top.post-template-default .fullsize .template-blog .post .entry-content-wrapper {
  max-width: 48%;
  float: right;
}
/* line 502, sass/style.scss */
#top.post-template-default .fullsize .template-blog .post .entry-content-wrapper > * {
  margin-bottom: 0;
}
/* line 505, sass/style.scss */
#top.post-template-default .fullsize .template-blog .post .entry-content-wrapper .entry-content-header {
  display: inline;
}
/* line 507, sass/style.scss */
#top.post-template-default .fullsize .template-blog .post .entry-content-wrapper .entry-content-header h2 {
  font-size: 18px;
  text-align: left;
  font-family: sans-serif;
}
/* line 511, sass/style.scss */
#top.post-template-default .fullsize .template-blog .post .entry-content-wrapper .entry-content-header h2 a {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
/* line 518, sass/style.scss */
#top.post-template-default .fullsize .template-blog .post .entry-content-wrapper .entry-content {
  margin: 0;
}
/* line 520, sass/style.scss */
#top.post-template-default .fullsize .template-blog .post .entry-content-wrapper .entry-content p {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 525, sass/style.scss */
#top.post-template-default .fullsize .template-blog .post .entry-content-wrapper .post-meta-infos {
  display: inline;
}
/* line 527, sass/style.scss */
#top.post-template-default .fullsize .template-blog .post .entry-content-wrapper .post-meta-infos .text-sep, #top.post-template-default .fullsize .template-blog .post .entry-content-wrapper .post-meta-infos .comment-container, #top.post-template-default .fullsize .template-blog .post .entry-content-wrapper .post-meta-infos .blog-categories, #top.post-template-default .fullsize .template-blog .post .entry-content-wrapper .post-meta-infos .blog-author {
  display: none;
}
/* line 530, sass/style.scss */
#top.post-template-default .fullsize .template-blog .post .entry-content-wrapper .post-meta-infos time {
  color: #0091dd;
}
/* line 534, sass/style.scss */
#top.post-template-default .fullsize .template-blog .post .entry-content-wrapper .entry-content {
  font-size: 18px;
  line-height: 1.3;
}

/* line 543, sass/style.scss */
#top #wrap_all .main_color h2 {
  font-size: 46px;
  padding: 0;
  text-transform: none;
}

/* line 549, sass/style.scss */
.home-icon p {
  margin: 0;
  font-weight: 600;
  line-height: 1;
}
/* line 554, sass/style.scss */
.home-icon svg {
  width: 22px;
}

/* line 559, sass/style.scss */
.pano .entry-content-wrapper {
  display: flex;
  align-items: center;
}

/* footer */
/* line 565, sass/style.scss */
#naw {
  background-color: #285f7b;
  color: #ffffff;
}
/* line 568, sass/style.scss */
#naw .container {
  padding-top: 20px;
}
/* line 570, sass/style.scss */
#naw .container #logo_1_wit {
  padding-right: 10px;
  margin-left: -36px;
}
/* line 574, sass/style.scss */
#naw .container address {
  display: inline;
  margin-right: 10px;
  font-size: 16px;
}
/* line 579, sass/style.scss */
#naw .container .social_bookmarks {
  display: inline-flex;
  align-items: baseline;
}
/* line 582, sass/style.scss */
#naw .container .social_bookmarks li {
  border: 0;
  height: inherit;
  width: 24px;
}
/* line 586, sass/style.scss */
#naw .container .social_bookmarks li a {
  line-height: 44px;
  color: #ffffff;
}

/* line 594, sass/style.scss */
#top #wrap_all #footer {
  border: 0 none;
}
/* line 596, sass/style.scss */
#top #wrap_all #footer h2 {
  color: #fecc2d;
}
/* line 599, sass/style.scss */
#top #wrap_all #footer h3 {
  font-size: 18px;
}
/* line 602, sass/style.scss */
#top #wrap_all #footer .widget {
  margin: 0;
}
/* line 604, sass/style.scss */
#top #wrap_all #footer .widget p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}
/* line 610, sass/style.scss */
#top #wrap_all #footer .av_one_fourth {
  margin-left: 0;
  width: 24.8%;
}

/* line 616, sass/style.scss */
#sb_instagram.sbi_fixed_height {
  overflow: hidden;
}

/* line 619, sass/style.scss */
.hidden {
  display: none;
  transition: visibility 0s, opacity 0.5s linear;
}

/* hamburger menu */
/* line 625, sass/style.scss */
.html_av-overlay-side #top .av-burger-overlay-scroll {
  background: #ffffff;
}

/* line 629, sass/style.scss */
#av-burger-menu-ul .avia-menu-text {
  text-shadow: none;
}

/* event detail */
/* line 636, sass/style.scss */
#top.event_listing-template-default #wrap_all .main_color h3 {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}
/* line 642, sass/style.scss */
#top.event_listing-template-default #wrap_all .wpem-single-event-body-sidebar h3 {
  font-size: 24px;
}
/* line 648, sass/style.scss */
#top.event_listing-template-default .wpem-additional-info-block-wrapper {
  display: none;
}

/* line 653, sass/style.scss */
.bg_brown {
  background-image: url("/wp-content/themes/thialf/assets/bg_brown.png");
  background-repeat: repeat-x;
  background-size: contain;
}

/* line 658, sass/style.scss */
.bg_green {
  background-image: url("/wp-content/themes/thialf/assets/bg_green.png");
  background-repeat: repeat-x;
  background-size: contain;
}

/* line 663, sass/style.scss */
.bg_blue {
  background-image: url("/wp-content/themes/thialf/assets/bg_blue.png");
  background-repeat: repeat-x;
  background-size: auto;
}

/* line 668, sass/style.scss */
.bg_lightblue {
  background-image: url("/wp-content/themes/thialf/assets/bg_lightblue.png");
  background-repeat: repeat-x;
  background-size: auto;
}

/* line 674, sass/style.scss */
#top.single-event_listing #wrap_all .fullsize .template-blog .post-title,
#top.single-post #wrap_all .main_color h1 {
  text-align: left;
  font-size: 45px;
  font-weight: 300;
  color: #0091dd;
}

/* line 681, sass/style.scss */
.wpem-single-event-page .wpem-single-event-wrapper .wpem-single-event-body .wpem-single-event-left-content .wpem-single-event-short-info .wpem-event-title {
  display: none;
}

/* line 684, sass/style.scss */
#top.event_listing-template-default #wrap_all .wpem-single-event-body-sidebar h3 {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}

/* line 688, sass/style.scss */
.wpem-event-listings.wpem-event-listing-box-view .wpem-event-layout-wrapper .wpem-event-infomation .wpem-event-details .wpem-event-location {
  display: none;
}

/* team */
/* line 693, sass/style.scss */
.avia-team-member {
  display: inline-block;
  width: 49%;
}

/* line 697, sass/style.scss */
.team-img-container {
  margin: 10px;
}
/* line 699, sass/style.scss */
.team-img-container img {
  border-radius: 50%;
  max-width: 180px;
}

/* line 705, sass/style.scss */
.team-member-description p {
  margin: 0;
  text-align: center;
  font-size: 20px;
}

/* line 711, sass/style.scss */
#leden {
  margin-left: 0;
  vertical-align: text-top;
}
/* line 714, sass/style.scss */
#leden div, #leden section {
  vertical-align: text-top;
}

/* line 719, sass/style.scss */
#top #wrap_all .main_color h3.team-member-name {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 300;
  text-align: center;
}

/* line 726, sass/style.scss */
.team-member-job-title {
  font-style: italic;
  font-size: 20px;
  text-align: center;
}

/* line 732, sass/style.scss */
.page-id-342 .avia-caption-content button,
.page-id-562 .avia-caption-content button,
.page-id-552 .avia-caption-content button {
  background-color: #FFCB00;
  font-weight: 600;
  color: #7c7c7c;
  padding: 10px 30px;
  border: 0 none;
  border-radius: 30px;
  margin-top: 10px;
}

/* line 744, sass/style.scss */
#top.page-id-342 .avia-caption-content button a,
#top.page-id-562 .avia-caption-content button a,
#top.page-id-552 .avia-caption-content button a {
  text-decoration: none;
}

/* line 749, sass/style.scss */
.bottom-title {
  font-weight: 300;
  max-width: 780px;
  margin: 0 auto;
}

/* line 756, sass/style.scss */
.av-social-sharing-box.av-social-sharing-box-fullwidth .av-share-box ul {
  width: 70px;
}

/* brasserie */
/* line 762, sass/style.scss */
#brasserie_link h2 {
  font-weight: 300;
}
/* line 765, sass/style.scss */
#brasserie_link .image-overlay {
  background: none;
}
/* line 767, sass/style.scss */
#brasserie_link .image-overlay.overlay-type-extern .image-overlay-inside:before {
  content: none;
}
/* line 771, sass/style.scss */
#brasserie_link button {
  background-color: #fecc2d;
  font-size: 26px;
  font-weight: 600;
  color: #707070;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 30px;
  border-color: transparent;
  margin-top: 1.5rem;
}

/* insta */
/* line 787, sass/style.scss */
#sb_instagram.sbi_fixed_height {
  overflow: inherit;
}

/* couranten */
/* line 793, sass/style.scss */
#couranten {
  background-color: #466971;
}
/* line 795, sass/style.scss */
#couranten a {
  color: #ffffff;
  background-image: url("/wp-content/themes/thialf/assets/icon-PDF-wit.svg");
  background-repeat: no-repeat;
  padding-left: 30px;
}

/* line 803, sass/style.scss */
.html_av-overlay-side-classic #top #wrap_all .av-burger-overlay #av-burger-menu-ul li a {
  font-family: 'PT Sans', sans-serif;
}

/* line 807, sass/style.scss */
#av-burger-menu-ul .avia-menu-text {
  text-transform: uppercase;
}

/* line 810, sass/style.scss */
.html_av-overlay-side #top #wrap_all .av-burger-overlay li a {
  padding: 12px 50px;
}

/* buttons */
/* line 815, sass/style.scss */
#top #wrap_all .call2action h2 {
  font-size: 50px !important;
}

/* line 818, sass/style.scss */
#top #wrap_all .call2action button {
  font-size: 22px !important;
}

@media only screen and (max-width: 767px) {
  /* line 822, sass/style.scss */
  #top #wrap_all .call2action h2 {
    font-size: 30px !important;
  }

  /* line 825, sass/style.scss */
  #top #wrap_all .call2action button {
    font-size: 18px !important;
  }
}
/* slideshow */
/* line 832, sass/style.scss */
.avia-slideshow-arrows {
  display: none;
}

@media only screen and (max-width: 989px) {
  /* line 836, sass/style.scss */
  .avia-team-member {
    width: 100%;
  }

  /* line 839, sass/style.scss */
  .responsive #top #wrap_all .flex_column,
  #top #wrap_all #footer .av_one_fourth {
    width: 100%;
  }

  /* line 843, sass/style.scss */
  #naw .container #logo_1_wit {
    margin-left: 0;
  }

  /* line 846, sass/style.scss */
  ul.social_bookmarks {
    display: none;
  }

  /* line 849, sass/style.scss */
  .responsive .logo img {
    margin-top: 20px;
    width: 292px;
  }

  /* line 853, sass/style.scss */
  #top.page-id-7 .logo {
    background-size: contain;
    width: 292px;
  }

  /* line 857, sass/style.scss */
  #top.page-id-7 .header_color .av-hamburger-inner {
    background-color: #0091dd;
  }
  /* line 859, sass/style.scss */
  #top.page-id-7 .header_color .av-hamburger-inner::before, #top.page-id-7 .header_color .av-hamburger-inner::after {
    background-color: #0091dd;
  }

  /* line 864, sass/style.scss */
  .openinghours main {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 873, sass/style.scss */
  body {
    font-size: 19px;
  }

  /* line 876, sass/style.scss */
  .responsive #top #header .main_menu .social_bookmarks {
    display: none;
  }

  /* line 879, sass/style.scss */
  .header_color .av-hamburger-inner {
    background-color: #ffffff;
  }
  /* line 881, sass/style.scss */
  .header_color .av-hamburger-inner::before, .header_color .av-hamburger-inner::after {
    background-color: #ffffff;
  }

  /* line 885, sass/style.scss */
  #top.single-event_listing .logo,
  #top.single-post .logo,
  #top.page-id-7 .logo,
  .responsive .logo img,
  #top.event_organizer-template-default .logo {
    margin-top: 0;
    max-width: 80%;
  }

  /* line 894, sass/style.scss */
  #top #wrap_all .av_header_transparency {
    background-color: transparent;
    position: absolute !important;
  }
  /* line 899, sass/style.scss */
  #top #wrap_all .main_color h1 {
    font-size: 48px;
  }
  /* line 902, sass/style.scss */
  #top #wrap_all .main_color h2 {
    font-size: 42px;
  }
  /* line 906, sass/style.scss */
  #top #wrap_all #footer .av_one_fourth {
    width: 49.8%;
  }

  /* line 912, sass/style.scss */
  .wpem-event-listing-list-view .wpem-event-layout-wrapper .event_listing .wpem-event-infomation .wpem-event-details .wpem-event-date-time {
    font-size: 16px;
    color: #555555;
  }
  /* line 916, sass/style.scss */
  .wpem-event-listing-list-view .wpem-event-layout-wrapper .icon img {
    width: 30px;
    height: 30px;
  }

  /* line 926, sass/style.scss */
  .wpem-event-listings.wpem-event-listing-box-view .wpem-event-layout-wrapper .event_listing {
    background-color: #e5fad5;
  }
  /* line 929, sass/style.scss */
  .wpem-event-listings.wpem-event-listing-box-view .wpem-event-layout-wrapper .event_listing .icon {
    display: none;
  }
  /* line 932, sass/style.scss */
  .wpem-event-listings.wpem-event-listing-box-view .wpem-event-layout-wrapper .event_listing .wpem-event-banner {
    margin-top: 0;
  }
  /* line 934, sass/style.scss */
  .wpem-event-listings.wpem-event-listing-box-view .wpem-event-layout-wrapper .event_listing .wpem-event-banner .wpem-event-banner-img {
    height: 209px;
  }
  /* line 938, sass/style.scss */
  .wpem-event-listings.wpem-event-listing-box-view .wpem-event-layout-wrapper .event_listing .wpem-event-infomation .wpem-event-details {
    margin-top: 70px;
  }

  /* line 945, sass/style.scss */
  #top #main .avia-section .template-page {
    padding-top: 0;
  }

  /* line 948, sass/style.scss */
  #naw .container address {
    font-size: 16px;
  }

  /* line 951, sass/style.scss */
  #naw .container #logo_1_wit {
    margin-left: 0;
  }

  /* line 954, sass/style.scss */
  #brasserie_link button {
    font-size: 24px;
  }

  /* line 957, sass/style.scss */
  #top.post-template-default .fullsize .template-blog .post .entry-content-wrapper,
  #top.post-template-default .fullsize .template-blog .big-preview {
    max-width: 100%;
  }

  /* line 961, sass/style.scss */
  #top select,
  .wpem-form-wrapper .wpem-form-group {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 480px) {
  /* line 967, sass/style.scss */
  h1,
  #top #wrap_all .main_color h1 {
    font-size: 56px;
  }

  /* line 971, sass/style.scss */
  h2 {
    font-size: 37px;
  }

  /* line 974, sass/style.scss */
  #top #wrap_all #footer .av_one_fourth {
    width: 99.8%;
  }

  /* line 977, sass/style.scss */
  #top #wrap_all #uitgelicht .big-preview,
  #top #wrap_all #uitgelicht .entry-content-wrapper {
    width: 100%;
  }

  /* line 982, sass/style.scss */
  #brasserie_link button {
    font-size: 21px;
  }

  /* line 985, sass/style.scss */
  .bg_blue .content {
    padding-top: 0;
    padding-bottom: 0;
  }
}
