@media print {
    .small {
        max-width: 100%;
    }
    .openinghours,
    #event_filters,
    .wpem-event-listings-header {
        display: none;
    }
    .content {
        padding-top: 0;
        margin-bottom: 0;
    }
    #av_section_1 {
        display: none;
    }
    #top.page-id-7 .logo {
        width: 80%;
        margin-left: 10%;
    }
    .av_minimal_header #header_main .container {
        height: 150px;
    }
    .avia-section .template-page .entry-content-wrapper {
        margin-top: 100px;
    }
    #top #wrap_all .main_color h1 {
        margin-bottom: 40px;
    }

    .responsive #top #wrap_all .flex_column, #top #wrap_all #footer .av_one_fourth {
        margin: 0 auto;
    }

    .wpem-event-listings.wpem-event-listing-box-view 
    .wpem-event-layout-wrapper 
    .wpem-event-banner 
    .wpem-event-banner-img {
        height: 230px;    
    }
    #naw .container {
        position: absolute;
        bottom: 0;
        background-color: #285f7b;
    }
    #naw [data-av_icon] {
        text-decoration: none;
    }
    #naw [data-av_icon]:before {
        color: #ffffff;
    }
    .wpem-event-listings.wpem-event-listing-box-view 
    .wpem-event-layout-wrapper 
    .wpem-event-infomation {
        margin-top: 180px;
    }
    .wpem-col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    
    }
    
}

